<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Заявка</title>
</head>

<head th:insert="blocks/head :: head"></head>

<body class="d-flex flex-column min-vh-100">

<div th:insert="blocks/nav :: nav"></div>

<main class="page catalog-page">
    <section class="clean-block clean-catalog dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Заявка</h2>
            </div>
            <div class="content" style="padding: 20px">
                <form th:if="${role == 'CLIENT'}" action="/apps/add" method="post" class="mb-5">
                    <div class="row">
                        <div class="col">
                            <input type="text" name="text" class="form-control" placeholder="Напишите...">
                        </div>
                        <div class="col-3">
                            <input type="text" name="tel" pattern="[0-9]{12}" class="form-control" placeholder="Номер телефона (375251231212)">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary">Добавить</button>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div th:each="i : ${apps}" class="col-12">
                        <p class="lead">
                            <span th:text="${i.owner.primarys.getFIO()}"></span>
                            <span>|</span>
                            <span th:text="${i.tel}"></span>
                            <span>|</span>
                            <span th:text="${i.date}"></span>
                            <span>|</span>
                            <span>Статус:</span>
                            <span th:text="${i.status.name}"></span>
                        </p>
                        <p th:text="${i.text}"></p>
                        <p th:if="${role == 'MANAGER' and i.status.name() == 'WAITING'}">
                            <a th:href="'/apps/answer/' + ${i.id}" class="btn btn-primary">Рассмотрено</a>
                        </p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<footer th:insert="blocks/footer :: footer" class="page-footer dark mt-auto"></footer>

<script src="/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
<script src="/js/vanilla-zoom.js"></script>
<script src="/js/theme.js"></script>

</body>

</html>